 <div ng-if="ctrlinfo.signed" style="text-align: center;">
    <h2>Hello  {{ctrlinfo.firstname}} {{ctrlinfo.lastname}}!</h2>
    <h4>phone: {{ctrlinfo.phone}}</h4>
    <div>email: {{ctrlinfo.email}}</div>
<div style="text-align: center;">
    <h2 style="text-align: center;">Favourite Dish</h2>
    <h3 class="menu-item-title" style="text-align: center;">{{ctrlinfo.data.name}}</h3>
    <img style="align-content: center" img-responsive" width="250" height="150" ng-src="{{ctrlinfo.basePath}}/images/{{ctrlinfo.data.short_name}}.jpg" alt="{{ctrlinfo.data.name}}">
    <div style="text-align: center;"class="menu-item-description"> 
        
        <p style="text-align: center;" class="menu-item-details">{{ctrlinfo.data.description}}</p>
      </div>
</div>
    </div> 
<div ng-if="!ctrlinfo.signed">
    Not Signed Up Yet. Sign up Now!
</div>